

 <nav class="navbar navbar-expand-lg"> 
 
<ul class="navbar-nav">
    <pre>
    <li class="nav-item"> 
      <span class="indent">
        <i class="fa fa-stumbleupon fa-2x" aria-hidden="true"></i> Free shipping 
                   and returns</span></li>
  </pre>
  <pre>
    <li class="nav-item">
        <span class="indent">
        <i class="fa fa-btc fa-2x" aria-hidden="true"></i> 100% Authenticated 
                     Payment</span></li>
    </pre>
    <pre>
    <li class="nav-item">
        <span class="indent">
      <i class="fa fa-cog fa-spin fa-2x fa-fw" aria-hidden="true"></i> 100% Authorized
                      Payment</span></li>
    </pre>
  </ul>
</nav> 