<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  </div>
  

<app-navbar></app-navbar>


<div class="jumbotron">
<h1 align="center">
Welcome {{n}}
</h1>
<div>Here you go</div>
<div class="card-columns">
  
  <div class="card p-1">
    <img class="card p-1" src="assets/images/image1.jpg" alt="Card image cap">
    <h5 class="card-title">Card title 1</h5>
  </div>
  <!-- <div class="card p-3"> -->
    <div class="card p-2">
      <img class="card-img-top" src="assets/images/image2.jpg" alt="Card image cap2">
      <h5 class="card-title">Card title 2</h5>
    </div>

  <!-- </div> -->

  
    <div class="card p-3">
      <img class="card-img-top" src="assets/images/image4.jpg" alt="Card image cap3">
      <h5 class="card-title">Card title 3</h5>
    </div>
  
  <!-- <div class="card bg-primary text-white text-center p-3"> -->
    <div class="card p-4">
      <img class="card-img-top" src="assets/images/image3.jpg" alt="Card image cap4">
      <h5 class="card-title">Card title 4</h5>
    </div>

    <div class="card p-5">
    
      <div class="card">
        <img class="card-img5" src="assets/images/image5.jpg" alt="Card image cap2">
      </div>
    
    </div>
    
      <div class="card p-6">
        <img class="card-img-top" src="assets/images/image6.jpg" alt="Card image cap2">
      </div>
    
  
 
</div>