 .card-deck{
    height: 200px;
     width: 200px;
     
}  

.card-img{
  height: 200px;
  width: 200px;
  
}
.d-flex
{
  margin-right: 200px;
  margin-left: 200px;
  overflow: scroll;
 
}

.card-flex
{
  display: flex;
  width: 150px;
  height: 400px;
}
.card-flex-img{
  width: 150px;
  height: 400px;
}
.card-img-overlay{
  font-family: 'Times New Roman';
  font-weight: bold;
  
}
.card-text{
  text-align: justify;
  text-transform: uppercase;
  position: absolute;
  bottom: 1px;
}
.container{
  background-color: white;
}