
<app-navbar></app-navbar>
<br />
<div class="d-flex bg-secondary"> 

  <div class="container">
     <div class="row">
      <div class="col">
  <div class= "col-xs-1" >
      
  <div class="card">
    <img class="card-img" src="assets/images/image1.jpg" alt="Card image cap1">
    <!-- <h5 class="card-title">Card title 1</h5> -->
  </div>
  </div>

  <div class= "col-xs-1" >
  <div class="card-deck">
      <img class="card-img" src="assets/images/image6.jpg" alt="Card image cap2">
      <!-- <h5 class="card-title">Card title 2</h5> -->
    </div>
    </div>

  </div>
  <div class="col">
  <div class= "col-xs-1" >
    <div class="card-deck">
        <img class="card-img" src="assets/images/image3.jpg" alt="Card image cap3">
        <!-- <h5 class="card-title">Card title 3</h5> -->
      </div>
      </div>
      
      <div class= "col-xs-1" >
    <div class="card-deck">
      <img class="card-img" src="assets/images/image4.jpg" alt="Card image cap4">
      <!-- <h5 class="card-title">Card title 4</h5> -->
    </div>
</div>
  </div>

  <div class="col">
<div class= "col-xs-1">
      <div class="card-flex">
        <img class="card-flex-img" src="assets/images/image5.jpg" alt="Card image cap5">
        <!-- <h5 class="card-title">Card title 5</h5> -->
      </div>

</div>
</div>
<div class="col">
<div class= "col-xs-1" >

    <div class="card-flex">  
        <div class="card-img-overlay">
        <p class="card-text">Women's appareals and clothings 
            <a href="../home">
              <img class="card-flex-img" src="assets/images/image2.jpg" alt="Card image cap6">
              </a>
        </p>
        </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>


<app-footer></app-footer>