.card-img-top{
    height: 250px;
    /* width: 400px; */
}
/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 10;
    }
    @include media-breakpoint-only(xl) {
      column-count: 20;
    }
  } */
  .card-img4{
      height: 500px;
      width: 250px;
      rotate: 200px;
  }
  .card-img5{
    height: 500px;
    width: 250px;
    rotate: 50%;
}