 .card{
    height: 200px;
     width: 200px;
     
}  

.card-img{
  height: 200px;
  width: 200px;
  
}
.d-flex
{
  margin-right: 200px;
  margin-left: 200px;
  overflow: scroll;
 
}
/* .card-img-top{
  height: 250px;
   width: 400px;
} */
  .card-columns {
/*     @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5; 

    }*/
    display: inline-block;

  }  
  

.logo{
  width:40px; 
  height:40px;
  display: block;
}

.card-flex
{
  display: flex;
  width: 150px;
  height: 400px;
}
.card-flex-img{
  width: 150px;
  height: 400px;
}
.card-img-overlay{
  font-family: 'Times New Roman';
  font-weight: bold;
  
}
.card-text{
  text-align: justify;
  text-transform: uppercase;
  position: absolute;
  bottom: 1px;
}