
<app-navbar></app-navbar>
<br />
<div class="d-flex bg-default"> 
  <div class="card">
    <img class="card-img-top" src="assets/images/image1.jpg" alt="Card image cap1">
    <h5 class="card-title">Card title 1</h5>
  </div>
  <div class="card">
      <img class="card" src="assets/images/image2.jpg" alt="Card image cap2">
      <h5 class="card-title">Card title 2</h5>
    </div>
    <div class="card">
        <img class="card-img-top" src="assets/images/image3.jpg" alt="Card image cap3">
        <h5 class="card-title">Card title 3</h5>
      </div> 
    <div class="card">
      <img class="card" src="assets/images/image4.jpg" alt="Card image cap4">
      <h5 class="card-title">Card title 4</h5>
    </div>
      <div class="card">
        <img class="card" src="assets/images/image5.jpg" alt="Card image cap5">
        <h5 class="card-title">Card title 5</h5>
      </div>
    <div class="card">  
        <img class="card" src="assets/images/image6.jpg" alt="Card image cap6">
        <h5 class="card-title">Card title 6</h5>
    </div>
</div> 

<app-footer></app-footer>