.indent{
    padding-left: 12em;
}

.badge-success{
    color: #fff;
    background-color: #28a745;
}

.mat-tab-link{
  color:black;
  font-family: Arial;
  font-weight: bold;
}

.container{
    background-color: white;
}
.cart{
    left: 400px;
}
.collapse{
    background-color: rgb(29, 27, 27);
}
.nav-item{
    color: white;
}