<br />
<nav>
<div class="container">
    <div class="row">
        <div class= "col-sm-1">
            <img class="logo" src="assets/images/logo.jpg" alt="logo">
        </div>
        <div class= "col-sm-2" >
               <p class="tab" routerLink="/dashboard" routerLinkActive="active">Dashboard</p>
         </div>
        <div class= "col-md-1" >
             <p class="tab" routerLink="/home">Home</p>
        </div>
        <div class= "col-md-2">
        <p class="tab" routerLink="/manageProducts">Manage Products</p>
      </div>
      <div class= "col-lg-3" >
          <p class="tab" routerLink="/home">DropDown</p>
     </div>
      <div class="col-sm-1">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>  
        </div>
        <div class="col-md-1">
          <p class="tab" routerLink="/login" style="color:rgb(252, 126, 147)">SIGN IN</p>
        </div>
  <div class="col-sm-1">
  <span><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></span>  
</div>

</div>
</div>
</nav>
 <nav class="navbar navbar-expand-md bg-dark">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <p class="indent">CALL US: 986y9x1843 </p>
            </li>
        <li class="nav-item">
          <p class="indent">FREE SHIPPING AND RETURNS </p>
        </li>
        <li class="nav-item">
          <p class="indent">IND/INR</p>
        </li>
      </ul> 
  </nav>
