.indent{
    padding-left: 12em;
}

.badge-success{
    color: #fff;
    background-color: #28a745;
}

.tab{
  color:black;
  font-family: Arial;
  font-weight: bold;
  align-items: center;
  margin-top: 20px;
}

.container{
    background-color: white;
}
.cart{
    left: 400px;
}
.collapse{
    background-color: rgb(29, 27, 27);
}
.nav-item{
    color: white;
}
.logo{
    width:200px; 
    height:150px;
    left: 0px;
    margin-left: -130px;
    margin-top: -50px;

  }
  .fa{
      margin-top: 20px;
  }