<app-navbar></app-navbar>
<div class="container">  
  <form id="manage" action="" method="post">
    <h3>Manage Products</h3>
    <fieldset>
      <input placeholder="Product name" [(ngModel)]="itemModel.product.productName" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Company name" [(ngModel)]="itemModel.product.companyName" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Price" [(ngModel)]="itemModel.product.price" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Price" [(ngModel)]="itemModel.product.price" type="file" tabindex="4" required>
    </fieldset>
    <fieldset>
      <button name="add" type="submit" data-submit="...Sending" tabindex="5"  (click)="addItem()" [disabled]="!itemModel.product.productName && !itemModel.product.companyName && !itemModel.product.price">Add Product</button>
    </fieldset>
    <fieldset>
      <button name="delete" tabindex="6" type="sub">Delete Product</button>
    </fieldset>
  </form>
</div>
<app-footer></app-footer>