.container {
    max-width: 400px;
    width: 50%;
    margin: 0 auto;
    position: relative;
  }

  #list-unstyled{
    background: red;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  #list-unstyled li{
    width: 100%;
    border: 1px solid #ccc;
    background:green;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #list-unstyled ul{
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }