/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.img-fluid{
    height:200px;
    width:200px;
    display: block;
}

body{
overflow-x: hidden;
overflow-y: hidden;
}