/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* @import "~ngx-tabset/ngx-tabset";*/

.img-fluid{
    height:200px;
    width:200px;
    display: block;
}